@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	font-family: 'Open Sans';
	/*background:#f0f0f0;*/
	background: #333333;
}

h2, h3, h4, h5
{
	font-weight: bold;
	color: #4d4d4d;
}

#content-container
{
	background: white;
	padding: 0 20px 20px 20px;
	margin-bottom: 100px;
	margin-top: 20px;
}

#content-container h2
{
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

#content-container h2 span
{
	font-size: 13px;
	float: right;
	opacity:0.6;
}

#content-container h2:before
{
	content: '# ';
}

#docs-title
{
	font-size:50px;
	color: #c4c4c4;
	/*text-shadow:0px 0px 5px #3f3f3f, 0px 2px 6px #3f3f3f;*/
	padding:5px;
	padding-top: 10px;
	letter-spacing: 3px;
}

#docs-description
{
	color: #c4c4c4;
}

#menu, #content-container p
{
	font-size: 1em;
}

#menu 
{
	padding-top:20px;
	/*background: #eaeaea;*/
	border-top:0px;
	/*box-shadow: 0px 1px 3px #616161;*/
	margin-top:30px;
	padding-bottom: 20px;
}

.requirement
{
	font-size: 1.1em;
	padding-bottom: 5px;
	color: red;
}

.requirement:before
{
	content: 'Requirement : ';
}

#top-menu
{
	text-align: right;
}

#top-menu a
{
	color: #c4c4c4;;
}

.menu-content ul
{
	list-style: none;
	padding:0px;
}

.menu-content ul li
{
	border-bottom:1px dashed #a4a4a4;
	padding:3px;
	padding-left:10px;
}

.menu-content li a
{
	color: #A2B6C7;
}

.menu-content ul li.active a
{
	color: #dd7c4f;
	font-weight: bold;
}

#content-container a
{
	font-weight: bold;
}
#content-container pre
{
	padding:0px;
	tab-size: 4;
}

.file-not-exist
{
	opacity: 0.5;
}

#content-container p
{
	color: #494949;
}

#content-container h1
{
	border-bottom: 2px dashed #909090;
	padding:10px;
	padding-left: 0px;
	color: #be5656;
	text-transform: uppercase;
	font-weight: bold;
}

#content-container h1 span
{
	float:right;
	font-size:14px;
	position:relative;
	top:20px;
	opacity:0.6;
	text-transform:none;
}

#content-container h2
{
	color: #494949;
}

#menu-toggle
{
	position: absolute;
	right:3%;
	font-size:25px;
	top:12px;
	color: #484848;
	display: none;
	text-decoration: none;
}

.menu-title
{
	color: #e18b82;
	/*font-size: 20px;*/
}

.menu-title-main
{
	font-size: 1.3em;
	color: #d15143;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 5px;
}

#content-container
{
	position: relative;
}

/* bootstrap .label */
.label.label-class
{
	background: #d9fec7;
	color: #405322;
}

.label.label-property
{
	background: #d6d9fc;
	color: black;
}

.label.label-string
{
	color: #d56a00;
	background: #ffeedd;
}

.label.label-variable
{
	background: #dbf5f7;
	color: #155c62;
}

.label.label-method
{
	background: #d6d6d6;
	color: black;
}

.label.label-file
{
	background: black;
}

.label.label-dir
{
	background: #47668c;
}

.label.label-uri
{
	background: #f8b6f2;
	color: #502736;
}

.label.label-route
{
	background: #ffecec;
	color: #c72e2e;
}

pre
{
	position: relative;
}

pre .code-tag
{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1em;
}

.container-figure
{
	padding-bottom: 30px;
}

.container-figure img
{
	border: 1px solid #dddddd;
}

.figure-text
{
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

@media (max-width:768px){
	#docs-title
	{
		font-size:25px;
		text-align: center;
	}

	#top-menu
	{
		text-align: center;
	}

	.container
	{
		width: 98% !important;
	}

	#menu
	{
		display: none;
		background: inherit;
		box-shadow: none;
	}

	#menu-toggle
	{
		display: block;
	}

	#content-container h1
	{
		font-size: 25px;
	}

	#content-container h1 span
	{
		display: none;
	}

	pre code
	{
		font-size: 0.9em;
	}

	#docs-description
	{
		display: none;
	}

	#header
	{
		
	}
}